
body{  
    margin: 0;
    padding: 0;  
    background-color: #F8F8F8;
}
.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 88px;
    padding: 16px 24px;
    margin: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50.81px;
    width: 180px;
    box-sizing: border-box;
    list-style: none;
}
.header__nav li{
    padding: 0;
    margin: 0;
}
.header__burger{
    display: flex;
    align-items: center;
}
.header__burger::after{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-left: 20px;
}
.header__logo{
    display: block;
    width: 98px;
    height: 52px;
}
.header__logo a{
    display: block;
    margin: 0;
    padding: 0;
    height: 52px;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    border-radius: 50%;
    margin:0;
    padding: 0;
    background: none;
    display: block;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.header__list .profile{
    display: flex;
    align-items: center;
}
.header__list .profile::after{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-left: 20px;
}
.header__item{
    padding: 0;
    margin: 0;
     
}
.button:hover{
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px #c4305c;
}
.button:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px #c4305c;
}
.button:active{
    border: none;
    outline: 2px solid #B8FFEC;
    box-shadow: none;
}
[hidden]{
    display: none;
}

@media (max-width: 767px) {
    .header{
        padding: 18.59px 16px;
    }
    .header__nav{
        width: 160px;
    }
    .header__burger::after{
        display: none;
    }
    .header__list{
        margin: 0;
    }
    .call,
    .chat,
    .header__list .profile{
        display: none;
    }
    .header__list .repair{
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    .header__list .repair::before{
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-right: 20px;
    }
}


@media (min-width: 768px) {
    .header__list{
        width: 290px;

    }
}

@media (min-width: 1120px) {
    .header{
        transform: translateY(-88px);
    }
    .header__list .repair .button,
    .header__list .checkstatus .button{
        transform: translateY(88px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__list .checkstatus .button{
        

    }
    [hidden]{ 
        display: block;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 500;
        white-space: nowrap;
    }
    .main{
        transform: translateY(-88px);
    }
}
.main {
    margin: 0;
    padding: 0;
    
}
.main__title {
    height: 40px;
}
.title {
    margin-top: 24px;
    display: flex;
    margin-right: auto;
}
.title__text {
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "TT Lakes";
    color: #1B1C21;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.main__slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 40px;
    align-items: center;
    vertical-align: middle;
    margin: 24px 16px 0 16px;
    list-style-type: none;
    padding-inline: 0;
}
.slider__slide{
    align-items: center;
    height: 40px;
    display: block;
    padding: 0;
    margin: 0;
}
.slider__button{
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    margin:0;
    padding: 0;
    background: none;
    white-space: nowrap;
    display: block;
    font-family: 'TT Lakes';
    font-size: 16.1px;
    line-height: 24px;
    border-radius: 6px;
    color: #7E7E82;
    font-weight: 500;
    cursor: pointer;
}
.slider__button:hover{
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 1px #B8FFEC;
}
.slider__button:focus{
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 3px #B8FFEC;
}
.slider__button:active{
    border: none;
    background-color: #B8FFEC;
    outline: none;
    box-shadow: none;
}
.brands .slider__button {
    width: 220px;
}
.device .slider__button {
    width: 252px;
}
.price .slider__button{
    width: 150px;
}
.address .slider__button{
    width: 246px;
}
.special .slider__button{
    width: 191px;
}
.reviews .slider__button{
    width: 96px;
}
.slider__gradient{
    padding: 1.2em;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: sticky;
    right: -1px;
    z-index: 100;
    overflow: hidden;
    margin: 0;
}
@media (min-width: 1120px) {
    .main__title{
        margin-top: 42px;
    }
    .title__text{
        margin-left: 28px;
    }
    .main__slider{
        margin-left: 32px;
        margin-right: 36px;
        margin-top: 8.37px;
        flex-wrap: wrap;
        height: 82px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .main__slider::-webkit-scrollbar{
        display: none;
      }      
    .slider__gradient{
        display: none;
    }
}

.about__text {
    color: #1B1C21;
    font-family: "TT Lakes";
    margin: 16px;
    margin-top: 24px;
    padding: 0;
    display: block;
    height: 90px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.about__text p{
    display: block;
    margin-top: 0;
}
.read-more {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    border-radius: 6px;
    margin:0;
    padding: 0;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 16px;   
}
.read-more__icon {
    margin-left: 8px;
}
.read-more__text {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-left: 16px;
    width: 100;
    height: 24px;
    display: flex;
}
.read-more:hover{
    border: none;
    box-shadow: inset 0 0 0 1px #B8FFEC;
}
.read-more:focus{
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 2px #B8FFEC;
}
.read-more:active{
    border: none;
    background-color: #B8FFEC;
}

@media (min-width: 768px) {
    .title__text{
        margin-left: 20px;
    }
    .slider{
        margin-left: 24px;
    }
    .main__about {
        display: flex;
        margin: 32px 25px 40px 24px;
        justify-content: space-between;
       
    }
    .about__text{
        margin: 0;
        height: 160px;
        font-size: 14px;
        line-height: 20px;
    }
    .read-more{
        margin-top: 10px;
    }
    .about__img{
        margin-left: 48px;
    }
    .img {
        background: #F8F8F8;
        border-radius: 6px;
        width: 360px; 
        height: auto;
    }

}
@media (min-width: 1120px) {
    .main__about{
        display: flex;
        margin: 10px 28.65px 49px 32px;

    }
    .about__text{
        margin: 0;

    }
    .read-more{
        margin-top: 13.78px;
    }
    .about__img{
        margin-left: 36px;  
    }
    .img{
        width: 531.35px; 
        height: auto;  
        background: #F8F8F8;
        border-radius: 6px;
    }
}