body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.aside {
    display: block;
    background: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
                16px 0px 52px rgba(14, 24, 80, 0.2);
    max-width: 320px;
    min-height: 1024px;
    margin: 0;
    padding: 0;
}
.aside__main-menu{
    display: flex;
    max-width: 320px;
    min-height: 1024px;
    flex-direction: column;
    margin: 0;
    padding: 24px;
    padding-top: 18.73px;
    padding-bottom: 32px;
}
.aside__header {
    display: flex;
    height: 51px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.button{
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    border-radius: 50%;
    margin:0;
    padding: 0;
    background: none;
    display: block;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    transition: opacity 0.5s ease-in-out;
}
.button:hover{
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px #c4305c;
    opacity: 1;
}
.button:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px #c4305c;
    opacity: 1;
}
.button:active{
    border: none;
    outline: 2px solid #B8FFEC;
    box-shadow: none;
    opacity: 1;
}
.header__burger{
    margin-right: 16.73px;
}
.header__logo {
    width: 97px;
    height: 51px;
    cursor: pointer;
}
.header__search{
    margin-left: auto;
}
.aside__main {
    margin: 0;
    margin-top: 46.46px;
    padding: 0;    
}
.main__nav {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes';
}
.main__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main__item{
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
}
.main__text{
    padding: 16px 0;
    margin: 0;
    font-family: 'TT Lakes';
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}
.main__text:hover{
    text-decoration: underline;
}
.main__text:focus {
    outline: none;
    border:2px solid #7E7E82;
    border-radius: 6px;    
}
.main__text:active{
    color: #7E7E82;
    outline: none;
    border: none;
}
.main__item--active .main__text{
    color: #7E7E82;
}
.main__item--active::before{
    position: absolute;
    left: -24px;
    top: -4px;
    height: 32px;
    width: 4px;
    content: "";
    background: #41F6D7;
    border-radius: 0 15px 15px 0;
}
.aside__footer {
    margin: 0;
    margin-top: auto;
    height: 188px;
}
.footer__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
}
.footer__item {
    margin: 0;
    margin-right: 16px;
}
.footer__contacts {
    margin: 0;
    padding: 0;
}

.footer__adress{
    display: block;
    margin-bottom: 12px;
    font-family: 'TT Lakes';
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    cursor: pointer;
}
.footer__adress:hover{
    text-decoration: underline;
}
.footer__adress:focus{
    color:#7E7E82;
    border: none;
    outline: none;
}
.footer__adress:active{
    border: 1px solid #7E7E82;
    border-radius: 6px;
    outline: none;
}
.footer__phone {
    display: block;
    font-family: 'TT Lakes';
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    cursor: pointer;
    text-decoration: none;
}
.footer__phone:hover{
    text-decoration: underline;
}
.footer__phone:focus{
    color:#7E7E82;
    border: none;
    outline: none;
}
.footer__phone:active{
    border: 1px solid #7E7E82;
    border-radius: 6px;
    outline: none;
}

.footer__lang {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: 32px;
    padding: 0;
}
.lang__input{
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}
.lang__text{
    display: block;
    height: 24px;
    width: 25px;
    margin: 0;
    margin-right: 7px;
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
}
.lang__input:hover + .lang__text{
    outline: none;
    border: none;
    text-decoration: underline;
}
.lang__input:focus + .lang__text{
    outline: none;
    border: 2px solid #7E7E82;
    border-radius: 6px;
}
.lang__input:active + .lang__text{
    border: 1px solid #7E7E82;
    outline: none;
    border-radius: 6px;
    color: #7E7E82;
}
.lang__input:checked + .lang__text{
    color: #7E7E82;
}
.lang__input--active + .lang__text{
    color:#7E7E82;
}