.slider-price {
  &__title {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: var(--focus-color);
    padding: 16px;
    border-top: 1px solid var(--blue-line-color);
    background: linear-gradient(
      -270deg,
      var(--main-bg-color) 0%,
      var(--white) 98.61%
    );
    box-sizing: border-box;
  }
  &__context {
    display: none;
  }
  &__swiper {
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
  }
  &__swiper::after {
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 24px;
    height: 181px;
    background: linear-gradient(
      270deg,
      var(--main-bg-color) 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 1;
  }
  &__container {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 40px;
  }
  &__table {
    display: none;
  }
  &__cards {
    height: 200px;
    margin-bottom: 16px;
  }
  &__pagination {
    position: initial;
    height: 12px;
    padding: 0 98px;
    display: flex;
    justify-content: space-between;
  }
  &__about {
    margin: 0 8px;
  }
  &__text {
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }
  &__offer {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    transition: all 0.3s;
  }
  &__offer:hover {
    text-decoration: underline;
  }
  &__offer:focus {
    transform: scale(1.1);
    color: var(--focus-color);
  }
  &__offer:active {
    transform: scale(0.9);
  }
  &__go-icon {
    display: inline;
    margin-left: 10px;
  }
}
.price-cards {
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 6px;
  }
  &__item {
    display: block;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: var(--focus-color);
    opacity: 0.72;
    text-align: left;
  }
  &__about {
    display: block;
    text-align: left;
  }
  &__order {
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: var(--white);
    width: 119px;
    height: 32px;
    background: var(--pink);
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    transition: all 0.5s;
  }
  &__order:hover {
    text-decoration: underline;
  }
  &__order:focus {
    transform: scale(1.1);
  }
  &__order:active {
    transform: scale(0.9);
  }
}
@media (min-width: 768px) {
  .slider-price {
    &__title {
      padding-left: 24px;
    }
    &__container {
      padding: 24px;
      padding-top: 31px;
      padding-bottom: 47px;
      margin: 0;
    }
    &__table {
      display: block;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      box-sizing: border-box;
      margin-bottom: 24px;
    }
    &__swiper {
      display: none;
    }
    &__swiper::after {
      display: none;
    }
    &__pagination {
      display: none;
    }
    &__about {
      width: 421px;
    }
  }
  .price-cards {
    &__order {
      position: initial;
    }
  }
  .price-table {
    &__head th {
      width: 100%;
      text-align: left;
      color: var(--focus-color);
    }
    &__name-column,
    &__price-column,
    &__term-column,
    &__order-column {
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
      padding: 16px;
    }
    &__term-column {
      min-width: 136px;
    }
    &__row {
      position: relative;
    }
    &__row::after {
      position: absolute;
      bottom: 0;
      left: 16px;
      right: 16px;
      content: '';
      height: 1px;
      width: auto;
      background-color: var(--border-color);
    }
    &__row:last-child::after {
      display: none;
    }
    &__body {
      width: 100%;
      border-radius: 6px;
      background-color: var(--white);
    }
  }
}
@media (min-width: 1120px) {
  .slider-price {
    &__title {
      padding-left: 32px;
    }
    &__container {
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 50px;
    }
    &__table {
      margin-bottom: 32px;
    }
  }
  .price-table {
    &__name-column,
    &__price-column,
    &__term-column,
    &__order-column {
      padding-left: 24px;
      padding-right: 24px;
    }
    &__row::after {
      left: 24px;
      right: 24px;
    }
  }
}
@media (min-width: 1366px) {
  .slider-price {
    width: calc(100% - 320px);
    transform: translateX(320px);
  }
}
