:root{
    --main-bg-color: #F8F8F8;
    --focus-color: #7E7E82;
    --active-color: #1B1C21;
    --white: #ffffff;
    --pink: #FF3E79;
    --border-color: #EAEAEA;
    --bullet-color: #DDDDDD;
    --active-bullet-color: #B5B6BC;
    --blue-line-color: #D9FFF5;
    --blue-divider-color: #41F6D7;
    --blue-border-color: #B8FFEC;  
    --bg-white: rgba(255,255,255, 0.5);
}